<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @principal_groupe.name %>
</p>

<%= link_to 'Edit', edit_principal_groupe_path(@principal_groupe) %> |
<%= link_to 'Back', principal_groupes_path %>
